<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${param.error}">
        Login or password incorrect.
    </div>
    <div th:if="${param.logout}">
        You've been logged out.
    </div>
    <div th:if="${param.success}">
        You successfully registered. Please use your credentials to log in.
    </div>
    <form th:action="@{/login2}" method="post">
        <input name="username" type="text" placeholder="Username">
        <input name="password" type="password" placeholder="Password">
        <input type="submit" value="Log in">
    </form>
</div>

</body>
</html>