<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
</head>
<body>
<div layout:fragment="content">
    <form class="col-md-4 offset-md-4" th:action="register" method="post" th:object="${user}">
        <div class="mb-3">
            <label class="form-label text-center">Enter the username:
            </label><input type="text" name="username" th:field="*{username}">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>
        <div class="mb-3">
            <label  class="form-label text-center">Enter Your Firstname:</label>
            <input type="text" name="firstName" th:field="*{firstName}">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label text-center">Enter Your LastName:</label>
            <input type="text" name="lastName" th:field="*{lastName}">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label text-center">Enter the birthdate: </label>
            <input type="text" name="birthDate" th:field="*{birthDate}" placeholder="dd-MM-yyyy">
            <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label text-center">Enter the email : </label>
            <input type="email" name="email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="mb-3">
            <label  class="form-label text-center"> Enter the gender:</label>
            <select name="gender" th:field="*{gender}">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label text-center">Enter the adress : </label>
            <input type="text" name="address" th:field="*{address}">
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label text-center">Enter the phone number : </label>
            <input type="text" name="phoneNumber" th:field="*{phoneNumber}">
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label text-center">Enter the role:</label>
            <select name="role" th:field="*{role}">
                <option value="Read">Read</option>
                <option value="Read and Publish">Read and Publish</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label text-center">   Enter password: </label>
             <input type="password" name="password" />
        </div>
        <div class="mb-3">
            <label class="form-label text-center"> Confirm password: </label>
           <input type="password" name="confirmPassword" />
        </div>
        <center><button type="submit" class="btn btn-primary">Submit</button></center>
    </form>
</div>

</body>
</html>