<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorate="template" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <style>
        @media (min-width: 768px) {
            .row-cols-md-4 > * {
                flex: 0 0 auto;
                width: 15%;
            }
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container text-center my-5">
        <h1>Books</h1>
        <!-- Filter Form -->
        <form th:action="@{/available_books}" method="get" class="mb-4">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="description" placeholder="Description">
                </div>
                <div class="col">
                    <input type="number" step="0.01" class="form-control" name="minPrice" placeholder="Min Price">
                </div>
                <div class="col">
                    <input type="number" step="0.01" class="form-control" name="maxPrice" placeholder="Max Price">
                </div>
                <div class="col">
                    <select class="form-control" name="authorId">
                        <option value="">Select Author</option>
                        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-control" name="categoryId">
                        <option value="">Select Category</option>
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
                    </select>
                </div>
                <div class="col">
                    <input type="number" step="0.1" class="form-control" name="rating" min="0" max="5" placeholder="Min Rating">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" th:each="b:${books}">
                <div class="card">
                    <a th:href="@{/bookDetail/{id}(id=${b.id})}">
                        <img th:src="'data:image/jpeg;base64,' + ${b.image}" class="card-img-top" alt="Book Image" style="max-width: 100%; height: auto;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${b.name}"></h5>
                        <p class="card-text" th:text="${b.description}"></p>
                        <p class="card-text">Price: <span th:text="${b.price}"></span></p>
                        <p class="card-text">Rating: <span th:text="${b.averageRating}"></span></p>
                        <form th:action="@{/addFavorite}" method="post" sec:authorize="isAuthenticated() and hasRole('Read')">
                            <input type="hidden" name="bookId" th:value="${b.id}"/>
                            <button type="submit" class="btn btn-primary" >Add to Favorites</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
