<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <style>
        @media (min-width: 768px) {
            .book-details {
                display: flex;
                align-items: flex-start;
            }

            .book-image {
                flex: 0 0 40%;
                margin-right: 20px;
            }
        }
        .left-align {
            text-align: left;
        }
        .rating-info {
            display: flex;
            align-items: center;
        }
        .star-icon {
            color: #FFD43B; /* Filled star color */
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container my-5">
        <!-- Book Details -->
        <div class="row">
            <div class="col-md-12">
                <div class="book-details">
                    <!-- Book Image -->
                    <div class="book-image">
                        <a th:href="@{/bookDetail/{id}(id=${book.id})}">
                            <img th:src="'data:image/jpeg;base64,' + ${book.image}" alt="Book Image" class="img-fluid mb-3">
                        </a>
                        <!-- Add to Favorites -->
                        <form th:action="@{/addFavorite}" method="post">
                            <input type="hidden" name="bookId" th:value="${book.id}"/>
                            <button type="submit" class="btn btn-primary btn-block mb-2">Add to Favorites</button>
                        </form>
                        <!-- Buy Now -->
                        <a th:href="${book.amazonLink}" class="btn btn-success btn-block mb-2">Buy Now</a>
                        <!-- Rate This Book -->
                        <a th:href="@{'/review_register?id=' + ${book.id}}" class="btn btn-warning btn-block mb-2">Rate This Book</a>
                    </div>
                    <!-- Book Info -->
                    <div class="book-info left-align">
                        <h1 th:text="'Book Name: ' + ${book.name}"></h1>
                        <h4 th:text="'Author: ' + ${book.author.name}" class="mb-3"></h4>
                        <div class="rating-info">
                            <h4>Rating:</h4>
                            <!-- Display filled stars based on the average rating, with a maximum of 5 stars -->
                            <span th:each="i : ${#numbers.sequence(1, book.averageRating)}" th:if="${i <= 5}">
                                <i class="fa-solid fa-star star-icon"></i>
                            </span>
                            <!-- Display empty stars for the remaining, with a maximum of 5 stars -->
                            <span th:each="i : ${#numbers.sequence(book.averageRating + 1, 5)}" th:if="${i <= 5}">
                                <i class="fa-regular fa-star"></i>
                            </span>
                            <span th:text="' (' + ${ratingCount} + ' ratings)'"></span>
                        </div>
                        <h4 th:text="'Description: ' + ${book.description}"></h4>
                        <h4>Categories:</h4>
                        <ul>
                            <li th:each="category : ${book.categories}" th:text="${category.categoryName}"></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
