<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
</head>
<body>
<div layout:fragment="content">
<div class="p-5" style="border:1px solid black;">
    <h4 class="text-center">New Book Register</h4>
    <form class="col-md-4 offset-md-4" th:action="save" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label text-center">Name:
            </label> <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author:
            </label> <input type="text" class="form-control" name="author">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price:
            </label> <input type="text" class="form-control" name="price">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:
            </label> <input type="text" class="form-control" name="description">
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Genre:
            </label> <input type="text" class="form-control" name="genre">
        </div>
        <div class="mb-3">
            <input type="file" name="image" class="form-control">
            <label class="custom-file-label" for="image">Product Image</label>
        </div>
        <center><button type="submit" class="btn btn-primary">Submit</button></center>
    </form>
</div>
</div>
</body>
</html>