<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>

</head>
<body>
<div layout:fragment="content">
    <div class="container text-center my-5">
        <table class="table  table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Biography</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Nationality</th>
                <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="a:${authors}">
                <td th:text="${a.id}"></td>
                <td th:text="${a.name}"></td>
                <td th:text="${a.biography}"></td>
                <td th:text="${a.birthDate}"></td>
                <td th:text="${a.nationality}"></td>
                <td>
                    <a style="color:blue" th:href="@{/editAuthor/{id}(id=${a.id})}"><i
                            class="fa-solid fa-pen-to-square ms-4"></i></a>
                    <a style="color:red" th:href="@{/deleteAuthor/{id}(id=${a.id})}"><i
                            class="fa-solid fa-trash ms-4"></i></a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>