<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template" lang="en"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Book Store</title>
</head>
<body>

<div layout:fragment="content">

    <h1>WELCOME TO NEW BOOK STORE</h1>
    <h6>Welcome to the book store you'll find every book you think of...
    </h6>
    <img th:src="@{/images/bookStore.png}"/>
</div>
</body>
</html>